@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html,
body {
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin: 10px;
    width:calc(100% - 20px);
    color: rgba(0,0,0,0.8);
    background-color: #c8e2f4;
}

.question {
    margin-bottom: 14px;
    padding: 0 12px 6px;
}

#DXMap {
    fill: white;
    stroke-width:3;
    stroke:rgb(0,0,0)
}

#pin {
    fill: #c8e2f4;
}

.dotted {
    stroke:#555555;
    stroke-width:1;
    stroke-dasharray:5,5;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border-color: #fc8f13;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after,
.btn, .btn-large, .btn-small {
    background-color: #fc8f13;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #fc9927;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: #ed8003;
}

input {
    color: inherit;
}

.color-black {
    color: inherit;
}

.compact {
    margin-block-start: 2px;
    margin-block-end: 2px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: rgba(0,0,0,0.8);
}

.input-field {
    margin-bottom: 1px;
}

.row {
    margin-bottom: 4px;
}
