@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html,
body {
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin: 10px;
    width:calc(100% - 20px);
    background-color: #c8e2f4;
}

.question {
    margin-bottom: 18px;
    border-bottom: 1px dashed lightgrey;
    padding-bottom: 6px;
}

#emailaddress {background-color: lightgrey;}

#DXMap {
    fill: white;
    stroke-width:3;
    stroke:rgb(0,0,0)
}

#pin {
    fill: #c8e2f4;
}

.dotted {
    stroke:#555555;
    stroke-width:1;
    stroke-dasharray:5,5;
}

.button {
    background-color: #FC9927;
    padding: 4px 11px;
    border: none;
    border-radius: 6px;
}
